@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: none;
  // background: radial-gradient(#30475d, #1c1c2e);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  transition: 0.5s ease;
}

.count-pill {
  display: block;
  padding: 5px 15px;
  font-size: 1.125rem;
  @media (max-width: 320px) {
    font-size: 10px;
  }
  font-weight: 600;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
}

.ctrl-btn:hover {
  color: greenyellow;
  cursor: pointer;
}
